body {
  max-width: 600px;
  margin: 60px auto;
  padding: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: lightslategray;
  color: white;
  font-family: 'Roboto', sans-serif;
}

input {
  background-color: lightslategray;
  color: #fff;
  width: 300px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 10px 10px 5px;
  outline: none;
}

button {
  transition: all 0.5s ease;
  background: none;
  border: 2px solid #fff;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  padding: 20px 70px;
  font-size: 1em;
  width: 300px;
  margin-bottom: 30px;
}

button:hover {
  color: lightslategray;
  background-color: #fff;
}
